<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: page_head('Verification Succeeded', tag)}">
</head>
<body>

<div class="container-fluid">
    <div>
        <div th:insert="~{fragments/menu :: #menu-fragment}"></div>
    </div>

    <div>&nbsp;</div>
    <div class="text-center">
        <h2>Customer Verification</h2>
        <h4>Congratulation! Your account has been verified.</h4>
        <p><a th:href="@{/login}">Login Now</a></p>
    </div>


    <div th:insert="~{fragments/footer :: #footer-fragment}"></div>
</div>


</body>
</html>