<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="~{fragments/head-link :: link}"></th:block>
    <th:block th:insert="~{fragments/head-script :: script}"></th:block>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/richText/jquery.richtext.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/richText/richtext.min.css}">

    <title>[[${pageTitle}]]</title>

</head>
<body>

<div class="container-fluid">
    <div>
        <div th:insert="~{fragments/menu :: #menu-fragment}"></div>
    </div>

    <div>
        <h1>Manage Customers | [[${pageTitle}]]</h1>
    </div>

    <div>
        <form th:action="@{/customers/save}" th:object="${customer}" method="post" style="max-width: 600px; margin: 0 auto"
              onsubmit="return checkEmailUnique(this)">
            <input type="hidden" th:field="*{id}">
            <div class="border border-secondary rounded p-3">
                <div class="row">
                    <label for="firstname" class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{firstname}"
                              id="firstname" required minlength="2" maxlength="45">
                    </div>
                </div>

                <div class="row">
                    <label for="lastname" class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{lastname}"
                               id="lastname" required minlength="2" maxlength="45">
                    </div>
                </div>

                <div class="row">
                    <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{email}"
                               id="email" required minlength="10" maxlength="45">
                    </div>
                </div>

                <div class="row">
                    <label for="password" class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" th:field="*{password}"
                               minlength="6" maxlength="45"
                               id="password" placeholder="Leave blank if you don't want to change password">
                    </div>
                </div>

                <div class="row">
                    <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{phoneNumber}"
                               id="phoneNumber" required minlength="9" maxlength="45">
                    </div>
                </div>

                <div class="row">
                    <label for="address1" class="col-sm-4 col-form-label">Address Line 1:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{addressLine1}"
                               id="address1" required maxlength="64">
                    </div>
                </div>

                <div class="row">
                    <label for="address2" class="col-sm-4 col-form-label">Address Line 2:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{addressLine2}"
                               id="address2" maxlength="64">
                    </div>
                </div>

                <div class="row">
                    <label for="city" class="col-sm-4 col-form-label">City:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{city}"
                               id="city" required maxlength="64">
                    </div>
                </div>

                <div class="row">
                    <label for="country" class="col-sm-4 col-form-label">Country:</label>
                    <div class="col-sm-8">
                        <select th:field="*{country}" class="form-control" id="country">
                            <option th:each="country : ${countryList}" th:value="${country.id}">
                                [[${country.name}]]
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label for="state" class="col-sm-4 col-form-label">State/Province:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{state}"
                               id="state" minlength="3" maxlength="64" list="statesList">
                        <datalist id="statesList">

                        </datalist>
                    </div>
                </div>

                <div class="row">
                    <label for="postalCode" class="col-sm-4 col-form-label">Postal Code:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{postalCode}"
                               id="postalCode" required minlength="3" maxlength="64">
                    </div>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" th:value="Save" class="btn btn-primary m-3">
                <input type="button" th:value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>
        </form>

        <div th:replace="~{html/modal_fragments :: modal_dialog}"></div>

    </div>

    <div th:insert="~{fragments/footer :: #footer-fragment}"></div>
</div>

<script type="text/javascript">
    var dropdownCountries;
    var dropdownStates;
    contextPath = "[[@{/}]]";

    $(document).ready(function () {
        dropdownCountries = $("#country");
        dropdownStates = $("#statesList");

        dropdownCountries.on("change", function () {
            loadStatesForCountry();
            $("state").val("").focus();
        });

        loadStatesForCountry();

        $('#buttonCancel').click(function () {
            window.location = "[[@{/customers}]]"
        });
    });

    function loadStatesForCountry() {
        selectedCountry = $("#country option:selected");
        countryId = selectedCountry.val();

        url = contextPath + "countries/" + countryId + "/states";

        $.get(url, function (responseJson) {
            dropdownStates.empty();

            $.each(responseJson, function (index, state) {
                $("<option>").val(state.name).text(state.name).appendTo(dropdownStates);
            });
        }).fail(function () {
            showErrorModal("error loading states/provinces for selected country.");
        });
    }

    function checkEmailUnique(form) {
        customerId = $("#id").val();
        customerEmail = $("#email").val();
        csrfValue = $("input[name='_csrf']").val();

        url = "[[@{/customers/check-email}]]";
        params = {id: customerId, email: customerEmail, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicate") {
                showWarningModal("The is another customer having same name " + productName)
            } else {
                showErrorModal("Unknown response from server")
            }
        }).fail(function () {
            showErrorModal("Could not connect to the server");
        });

        return false;
    }




</script>

<script th:src="@{/js/common_form.js}"></script>
</body>

</html>