<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="~{fragments/head-link :: link}"></th:block>
    <th:block th:insert="~{fragments/head-script :: script}"></th:block>

    <title>Categories - Shopme Admin</title>

</head>
<body>

<div class="container-fluid">
    <div>
        <div th:insert="~{fragments/menu :: #menu-fragment}"></div>
    </div>

    <div>
        <h1>Manage Categories</h1>
        <a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="~{html/fragments :: search_form_and_message}"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-header table-dark">
            <th>ID</th>
            <th>Category Image</th>
            <th th:replace="~{html/fragments :: column_link('name', 'Category Name', 'none')}"></th>
            <th class="hideable-column">Alias</th>
            <th>Enabled</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td>[[${category.id}]]</td>
                <td>
                    <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
                </td>
                <td>[[${category.name}]]</td>
                <td class="hideable-column">[[${category.alias}]]</td>
                <td>
                    <div th:replace="~{html/fragments :: status(${category.enabled}, 'category','/categories/' + ${category.id})}"></div>
                </td>
                <td>
                    <div th:replace="~{html/fragments :: edit('category','/categories/' + ${category.id})}"></div>
                    &nbsp;
                    <div th:replace="~{html/fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="category : ${listCategories}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
            </div>
            <div class="col-8">
                <div>[[${category.name}]]</div>
                <div class="mt-2"> &nbsp;
                    <div th:replace="~{html/fragments :: status(${category.enabled}, 'category','/categories/' + ${category.id})}"></div>
                    &nbsp;
                    <div th:replace="~{html/fragments :: edit('category','/categories/' + ${category.id})}"></div>
                    &nbsp;
                    <div th:replace="~{html/fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})}"></div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>


    <div th:if="${keyword != null}" class="text-center">
        <span>Search result does not show categories in hierarchical form</span>
        <div th:insert="~{html/fragments :: pagination('categories')}"></div>
    </div>
    <div th:unless="${keyword != null}" class="text-center">
        <div th:insert="~{html/fragments :: pagination('top-level categories')}"></div>
    </div>

    <div th:replace="~{html/modal_fragments :: confirm_modal}"></div>

    <div th:insert="~{fragments/footer :: #footer-fragment}"></div>
</div>

<script>
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');
        })
    });

</script>

</body>
</html>