<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="~{fragments/head-link :: link}"></th:block>
    <th:block th:insert="~{fragments/head-script :: script}"></th:block>
    <title>Title</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col border m-3 p-2">
            <div>
                <label>Main Image: [[${product.mainImage}]]</label>
            </div>
            <div class="m-2">
                <img alt="Main image preview" class="img-fluid" th:src="@{${product.mainImagePath}}">
            </div>
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border-3 p-2">
                <div>
                    <label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
                </div>
                <div class="m-2">
                    <img th:alt="'Extra image #' + ${status.index + 1} + ' preview'" class="img-fluid"
                         th:src="@{${productImage.imagePath}}">
                </div>
            </div>
        </th:block>
    </div>
</div>

</body>
</html>