<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: page_head('Forgot Password', tag)}">
</head>
<body>

<div class="container-fluid text-center">
    <div>
        <div th:insert="~{fragments/menu :: #menu-fragment}"></div>
    </div>
    <div>&nbsp;</div>
    <div>
        <h2>Forgot Password</h2>
    </div>

    <form th:action="@{/forgot_password}" method="post" style="max-width: 460px; margin: 0 auto">
        <div th:if="${error != null}">
            <p class="text-danger">[[${error}]]</p>
        </div>
        <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
        </div>
        <div class="border border-secondary rounded p-3">
            <div>
                <p>We will be sending a reset password link to the email</p>
            </div>
            <div>
                <p>
                    <input type="email" name="email" class="form-control" required autofocus
                           placeholder="Enter your e-mail">
                </p>
            </div>
            <div>
                <p>
                    <input type="submit" value="Send" class="btn btn-primary">
                </p>
            </div>
        </div>
    </form>

    <div>&nbsp;</div>

    <div th:insert="~{fragments/footer :: #footer-fragment}"></div>
</div>


</body>
</html>