<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/fragments :: page_head('Reset Password', tag)}">
</head>
<body>

<div class="container-fluid text-center">
    <div>
        <div th:insert="~{fragments/menu :: #menu-fragment}"></div>
    </div>
    <div>&nbsp;</div>
    <div>
        <h2>Reset Your Password</h2>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">
        <input type="hidden" th:value="${token}" name="token">
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control" required autofocus
                           placeholder="Enter your new password" minlength="6" , maxlength="15">
                </p>
            </div>
            <div>
                <p>
                    <input type="password" name="password" class="form-control"
                           required oninput="checkPasswordMatch(this)"
                           placeholder="Confirm your new password" minlength="6" , maxlength="15">
                </p>
            </div>

            <div>
                <p>
                    <input type="submit" value="Change Password" class="btn btn-primary">
                </p>
            </div>
        </div>
    </form>

    <div>&nbsp;</div>

    <div th:insert="~{fragments/footer :: #footer-fragment}"></div>
</div>

<script>
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Password do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>