<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="~{fragments/head-link :: link}"></th:block>
    <th:block th:insert="~{fragments/head-script :: script}"></th:block>
    <title>Title</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div>
        <p>
            Use This page to manage countries witch will be display in the customer registration form.
            CLick load Country list first.
        </p>
    </div>
    <div>
        <input type="button" value="Load Country List" id="buttonLoadCountries" class="btn btn-primary m-2">
    </div>
    <div>
        <select class="form-control m-2" style="height: 300px" size="3" id="dropDownCountries">

        </select>
    </div>

    <form id="formCountry">
        <div class="row ml-2">
            <label class="col-form-label mt-2" id="labelCountryName">Country Name:</label>
            <div class="col-md">
                <input type="text" class="form-control mt-2" id="fieldCountryName"
                       required minlength="3" maxlength="45">
            </div>
            <label class="col-form-label mt-2">Country Code:</label>
            <div class="col-md">
                <input type="text" class="form-control mt-2" id="fieldCountryCode"
                       required minlength="3" maxlength="45">
            </div>
            <div class="col-lg-4 mt-2">
                <input type="button" id="buttonAddCountry" value="New" class="btn btn-secondary mr-2">
                <input type="button" id="buttonUpdateCountry" value="Update" class="btn btn-secondary mr-2"
                       disabled="disabled">
                <input type="button" id="buttonDeleteCountry" value="Delete" class="btn btn-secondary"
                       disabled="disabled">
            </div>
        </div>
    </form>


</div>

</body>

</html>